$color-primary: #00b4db;
$color-secundary: #0083b0;

$color-grey-light-1: #eee;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
